body{
    background-color: black;
    
    overflow: hidden;
    color: #fff;
    font-size: x-large  ;
  
}

#character{
    background-color:#fff;
    width: 5vmin;
    height: 5vmin;
    position: absolute;
    left:60vmin;
    bottom: 50vmin;
 

}

#topBorder{
    width: 100%;
    background-color: aqua;
}

#leftBorder{
    width: 0;
    background-color: aqua;
    display: block;
    height: 100vh;
}

.Obstacle{
     height: 30vmin;
    width: 10vmin;

    position: absolute; 
    border-left: solid 2px blue; 
   border-bottom: solid 2px blue;
   
    

}

.bottom{
    height: 30vmin; 
    width: 10vmin;
   
    position: absolute; 
    bottom: 0;
    border-left: solid 2px blue; 
    border-top: solid 2px blue
   
   
}

