body{
    background-color: black;
    
    overflow: hidden;
  
}

#character{
    background-color:#fff;
    width: 50px;
    height: 50px;
    position: absolute;
    left:60vmin;
    bottom: 50vmin;
 

}

#topBorder{
    width: 100%;
    background-color: aqua;
}

.Obstacle{
    height: 30vmin;
    width: 10vmin;
    background-color: aqua;
    position: absolute;  

}

