body{
    background-color: black;
    
    overflow: hidden;
    color:#fff;
    font-size: x-large  ;
  
}

.obsButton{
    background-color: #222 ;
    width: 12vmin;
    height: 10vmin;
    font-size: 0.7em;
    border: 1px solid red;
    position: absolute;
    top: 40vmin;
    color: blue;
    font-weight: bold;


}



#character{
    background-color:#fff;
    width: 5vmin;
    height: 5vmin;
    position: absolute;
    left:60vmin;
    bottom: 50vmin;
 

}

#topBorder{
    width: 100%;
    background-color: aqua;
}

#leftBorder{
    width: 0;
    background-color: aqua;
    display: block;
    height: 100vh;
}

.Obstacle{
     height: 30vmin;
    width: 10vmin;
    margin: 0;
    position: absolute; 
}

.bottom{
    height: 30vmin; 
    width: 10vmin;
   margin: 0;
    position: absolute; 
    bottom: 0;   
}

